# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
mollak_mom_venv/
.env/

# Ignore log files
*.log

# Ignore idea/VSCode configs
.idea/
.vscode/

# Ignore other unwanted folders
build/
dist/
